.jumbotron {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #100438;
}

#about {
  padding-top: 4rem;
}

#portfolio {
  padding-top: 4rem;
  background-color: #0a135d;
}

#contact {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer {
  padding-top: 2rem;
  background-color: #0f0574;
}
